body { 
	font: 14px Helvetica ,Sans-serif;
	font-weight:lighter;
}

#container{
	margin:40px 60px 40px 60px;
	background-color:  lightgray;
	padding:0 100px 100px 100px;
	border-radius:8px;
}


#content-contact{
	margin: 0 0 -10px 0;
	padding: 20px 0 20px 0;
}

#content-introduction{
	border-top: 3px solid #0088dd;
	margin: 0 0 0 0;
	padding:0 0 0 0;
	font-size: 14px;
}


#projectsheader{
	margin:0 0 0 30px;
}

.projects{
	margin: 0 0 0 80px;
}

#clientlist{
	margin:0 0 0 80px;
}


a{
	color:#0088dd;	
}

a:hover{
	border:.5px solid #0088dd;
}

h1{
	color: #0088dd;
	font-size: 30px;
	font-weight: lighter;
	margin-top: 25px;
	margin-bottom: -10px;
}



h3{
	font-weight:bold;
	font-size:14px;
	margin-bottom:-15px;
}

h4{
	font-weight:lighter;
	margin-bottom:-15px;
}
p.select-volunteer{
	margin-bottom:-15px;
}

.examples{
	width:320px;
	float:left;
	margin:0 0 100px 0;
	height:300;
}

figure{
	display:block;
	width:302;
	height:270;
	margin:10px;
	padding:9px;
	text-align: left;
}

figure img{
	width:300px;
	height:300px;
}

figcaption{
	padding:left;
}

.content-experienceheader{
	margin:30px 0 0 0;
	font-weight:normal;
	text-transform:uppercase;
	border-bottom: 1px solid #0088dd;
}













